<div class="fs-form-wrap" id="fs-form-wrap">
  <!-- Title & logo -->
  <div class="fs-title">
    <img src="/assets/muhc-logo@1x.png" alt="MU Healthcare">
    <h1><%= @clinic.title %></h1>
  </div>
  <!-- Form -->
  <form id="myForm" class="fs-form fs-form-full" autocomplete="off" action="">
    <ol class="fs-fields">
      <% @clinic.survey.fields.each do |field| %>
        <% if field.visibility === 'public' %>
          <li data-input-trigger class="<%= field.field_type %>">
            <label
              class="fs-field-label fs-anim-upper"
              for="<%= field.field_type %>-<%= field.id %>"
              <% if field.instructions.to_s.length > 0 %>
              data-info="<%= field.instructions %>"
              <% end %>
              ><%= field.label %></label>
            
            <%= render partial: "templates/fields/view/#{field.field_type}", locals: { :field => field } %>

          </li>
        <% end %>
      <% end %>
    </ol><!-- /fs-fields -->
    <button class="fs-submit" onClick="window.location.reload()" type="submit">Submit answers</button>
  </form>
  <a href="/surveys" class="demo"></a>
</div>

<script>
  (function() {
    var formWrap = document.getElementById( 'fs-form-wrap' );

    [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {  
      new SelectFx( el, {
        stickyPlaceholder: false,
        onChange: function(val){
          // document.querySelector('span.cs-placeholder').style.backgroundColor = val;
          for(var i = 0, j = el.options.length; i < j; ++i) {
            if(el.options[i].value === val) {
               el.options[i].selected = 'selected';
               break;
            }
          }
        }
      });
    } );

    new FForm( formWrap, {
      onReview : function() {
        classie.add( document.body, 'overview' ); // for demo purposes only
      }
    } );
  })();
</script>