<div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
  <div class="choice <%= field.layout %> {{field.display_as}}">
    <% field.field_choices.each do |choice| %>
    <span>
      <input
        type="checkbox"
        name="<%= field.id %>-<%= choice.key %>"
        id="<%= field.id %>-<%= choice.key %>"
        required="<%= field.required %>">
        <label for=""><%= choice.label %></label>
    </span>
    <% end %>
  </div>
</div>