<div class="clearfix fs-anim-lower">
  <div id="fs-slider-display-<%= field.id %>" class="fs-slider-before"><%= field.predefined_value %></div>
  <div class="fs-slider">
    <div id="slider-link-<%= field.id %>"></div>
  </div>
  <input type="hidden" name="response[<%= field.field_type %>]" id="slider-value-<%= field.id %>" required="<%= field.required %>" value="">
</div>

<script>
  $("#slider-link-<%= field.id %>").noUiSlider({
    start: [<%= field.predefined_value %>],
    step: <%= field.increment %>,
    range: {
      'min': <%= field.range_min %>,
      'max': <%= field.range_max %>
    },
    format: wNumb({
      decimals: 0
    })
  });
  $("#slider-link-<%= field.id %>").Link('lower').to( $("#slider-value-<%= field.id %>") );
  $("#slider-link-<%= field.id %>").Link('lower').to( $("#fs-slider-display-<%= field.id %>") );
</script>
